footer{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}
footer .container{
  width: 90%;
  margin: 0 auto;
  max-width: 2000px;
  // 文字の上に線を引く
  border-top: solid 1px purple;
  padding: 50px 0 20px;
}
footer .logo{
  font-size: 20px;
  font-weight: 700;
  // ここでinlineblockを指定しないとmarginbottomが機能しない
  display: inline-block;
  margin-bottom: 40px;
}
footer ul{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
footer ul li{
  font-size: 15px;
  margin: 0 20px;
  transition: .5s;
  
  
}
footer ul li a:hover{
  transition: .5s;
  opacity: 0.6;
}