header {
  color: #ffffff;
}

header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  max-width: 2000px;
  padding: 20px 0;

  &__logo {
    font-size: 24px;
    font-weight: bold;
  }
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 50px;
}

header nav ul li a{
  transition: .5s;
}
header nav ul li a:hover{
  transition: .5s;
  // どれくらい透明にするかのCSS
  opacity: 0.6;
}

@media only screen and (max-width: 960px) {
  header .row {
    // 横並びになるCSS
   display: block;


  &__logo {
    font-size: 24px;
    font-weight: bold;
  }
} 
header nav ul {
  justify-content: space-between;
  margin-top: 20px;
}
header nav ul li {
  margin-left: 0px;
}
}